.skills-section {
  text-align: center;
  padding: 40px 20px;
}

.skills-title {
   color: #0466c8;
  text-align: center;
  margin-top: 50px;
  margin: 40px 0;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Montserrat",sans-serif;
  opacity: 0;
  transform: translateY(-30px);
  animation: fadeInUp 1s ease-out forwards;
}

.skills-icons {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
  margin-top: 130px;
}

.skill-icon {
  font-size: 60px;
  cursor: pointer;
  animation: float 2s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.html { color: #e34c26; }
.css { color: #264de4; }
.js { color: #f0db4f; }
.bootstrap { color: #563d7c; }
.react { color: #61dafb; }
.figma { color: #f24e1e; } 