.ColumnImage {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.Aboutme {
  width: 350px;
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 12px 30px rgba(0, 123, 255, 0.4);
  box-shadow: 0 -12px 30px rgba(0, 123, 255, 0.4);
}

.ColumnContent {
  flex: 1;
  text-align: left;
  padding: 20px;
}

.strong-text {
  font-weight: bold;
  color: #0466c8;
}

.ColumnContent .FrontEnd {
  font-size: 1rem;
  font-weight: bold;
  margin: 10px 0;
  text-align: left;
  color: #dad7cd;
}

.ColumnContent .FrontEnd li {
  font-size: 1rem;
  font-weight: bold;
  margin: 10px 0;
  text-align: left;
  color: #dad7cd;
  opacity: 0;
  transform: translateY(-30px);
  animation: fadeInUp 1s ease-out forwards;
}

.ColumnContent .AboutHeading {
  font-size: 2rem;
  font-weight: bold;
  margin: 10px 0;
  text-align: left;
  color: #0466c8;
  font-family: "Montserrat", sans-serif;
}
.ColumnContent .name,
.ColumnContent .age,
.ColumnContent .address,
.ColumnContent .email,
.ColumnContent .contact {
  font-size: 1rem;
  font-weight: 600;
  margin: 10px 0;
  color: #ffffff;
  text-align: left;
  font-family: "Open Sans", sans-serif;
}

@media (min-width: 767px) and (max-width: 991px) {
  .ColumnContent,
  .ColumnImage {
    flex: 1 1;
    text-align: center;
    padding: 5px;
  }
  .Aboutme {
    width: 300px;
    max-width: 100%;
    height: auto;
  }
  .ColumnContent .AboutHeading {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0;
    text-align: left;
    color: #0466c8;
    font-family: "Montserrat", sans-serif;
  }
}

@media (max-width: 767px) {
  .ColumnContent,
  .ColumnImage {
    flex: 100%;
    text-align: center;
    padding: 5px;
  }
}
