.experience-section {
  padding: 50px;
  background: #0a1c28;
  font-family: 'Arial', sans-serif;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 30px;
  font-weight: 900;
  color: #0466c8;
  text-align: center;
  font-family: "Montserrat",sans-serif;
  opacity: 0;
  transform: translateY(-30px);
  animation: fadeInUp 1s ease-out forwards;
}

.experience-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.experience-column {
  background: transparent;
  border: 2px solid white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 12px 30px rgba(0, 123, 255, 0.4);
  box-shadow: 0 -12px 30px rgba(0, 123, 255, 0.4);
  min-width: 300px;
  flex: 1;
  opacity: 0;
  transform: translateX(-30px);
  animation: fadeInUp 1s ease-out forwards;
}

.experience-card {
  position: relative;
  padding-left: 40px;
  margin-bottom: 30px;
}

.timeline-icon {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.5rem;
  color: white;
}

.timeline-year {
  display: block;
  font-size: 0.9rem;
  color: #edede9;
  margin-bottom: 0;
}

.experience-title {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0;
  color: #ffffff;
}

.experience-desc {
  font-size: 0.95rem;
  color: #fefae0;
  margin-bottom: 0 !important;
}

/* Vertical line */
.experience-card::before {
  content: '';
  position: absolute;
  left: 12px;
  top: 25px;
  height: calc(100% - 25px);
  width: 2px;
  background: white;
}

.experience-desc {
  white-space: pre-line; /* keeps \n as line breaks */
}